Web Application/Web Application.json
[
    {
        "id": "afc1039.b6103",
        "type": "tab",
        "label": "Warehouse Prediction",
        "disabled": false,
        "info": ""
    },
    {
        "id": "47a0fce3.b727e4",
        "type": "ui_button",
        "z": "afc1039.b6103",
        "name": "",
        "group": "e7c39b78.3060b8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Click to Continue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "2cb8aec4.9c1092",
                "9dfe9695.961358"
            ]
        ]
    },
    {
        "id": "2cb8aec4.9c1092",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Welcome Dialogue",
        "func": "msg.payload= \"Welcome to our smart warehouse web application\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "fbdc5b21.8c9ca8"
            ]
        ]
    },
    {
        "id": "fbdc5b21.8c9ca8",
        "type": "ui_audio",
        "z": "afc1039.b6103",
        "name": "",
        "group": "e7c39b78.3060b8",
        "voice": "en-GB",
        "always": true,
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "9dfe9695.961358",
        "type": "ui_ui_control",
        "z": "afc1039.b6103",
        "name": "",
        "events": "change",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "a8d0f0e5.ef56f"
            ]
        ]
    },
    {
        "id": "2789f884.2e8208",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "e7c39b78.3060b8",
        "name": "",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://blog.lpcinternational.co.uk/hs-fs/hubfs/Blog_Images/7%20Common%20Warehouse%20Design%20Issues%20&%20How%20To%20Avoid%20Them.jpg?width=750&height=428&name=7%20Common%20Warehouse%20Design%20Issues%20&%20How%20To%20Avoid%20Them.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5e638bc8.cb0e44",
        "type": "ui_form",
        "z": "afc1039.b6103",
        "name": "",
        "label": "",
        "group": "413e228a.1e18dc",
        "order": 0,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Center ID",
                "value": "center",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Product Code",
                "value": "meal",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Promotions",
                "value": "promo",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Price",
                "value": "price",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "center": "",
            "meal": "",
            "promo": false,
            "price": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Reset",
        "topic": "",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "6f5ac10.ee2484",
                "54e19660.199ac8"
            ]
        ]
    },
    {
        "id": "5f6caa4d.ae5f14",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "413e228a.1e18dc",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://cdn.vox-cdn.com/thumbor/Nd7QcetAzgq7CWl6GOLeVIwjTn8=/0x0:5000x3486/1400x1050/filters:focal(2303x650:3103x1450):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/66369293/Amazon_Go_Grocery_3.0.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 100,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6f5ac10.ee2484",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Correctness",
        "func": "center_id=[10,11,13,14,17,20,23,24,26,27,29,30,32,34,36,39,41,42,43,50,51,52,53,55,57,58,59,61,64,65,66,67,68,72,73,74,75,76,77,80,81,83,86,88,89,91,92,93,94,97,99,101,102,104,106,108,109,110,113,124,126,129,132,137,139,143,145,146,149,152,153,157,161,162,174,177,186]\nmeal_id=[1062,1109,1198,1207,1216,1230,1247,1248,1311,1438,1445,1525,1543,1558,1571,1727,1754,1770,1778,1803,1847,1878,1885,1902,1962,1971,1993,2104,2126,2139,2290,2304,2306,2322,2444,2490,2492,2494,2539,2569,2577,2581,2631,2640,2664,2704,2707,2760,2826,2867,2956]\nif(center_id.includes(msg.payload.center) && meal_id.includes(msg.payload.meal))\n    msg.payload=\"Thanks! That was a Valid data\"\nelse if(!center_id.includes(msg.payload.center) && meal_id.includes(msg.payload.meal))\n    msg.payload=\"Kindly check your Center ID\";\nelse if(!meal_id.includes(msg.payload.meal) && center_id.includes(msg.payload.center))\n    msg.payload=\"Kindly check your Product ID\";\nelse\n    msg.payload=\"Oops! Looks like you haven't given the correct Center and Product ID\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "5bba5404.eb42bc",
                "f3ad423d.ff83",
                "5b456b25.cdbaa4"
            ]
        ]
    },
    {
        "id": "5bba5404.eb42bc",
        "type": "ui_toast",
        "z": "afc1039.b6103",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "de134106.db1c3",
        "type": "http request",
        "z": "afc1039.b6103",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "c4f86e82.dd7a5",
                "eba131e2.a8851"
            ]
        ]
    },
    {
        "id": "c4f86e82.dd7a5",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Pre Prediction",
        "func": "var week = global.get(\"weekno\")\nvar center = global.get(\"center\")\nvar city = global.get(\"city\")\nvar region = global.get(\"region\")\nvar op = global.get(\"op\")\nvar meal = global.get(\"meal\")\nvar price = global.get(\"price\")\nvar promo = global.get(\"promo\")\nvar token = msg.payload.access_token\nvar instance_id=\"3723af48-b8e7-4974-aae9-ce598cb46c02\";\nmsg.headers = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + token, 'ML-Instance-ID': instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"city_code\", \"region_code\", \"op_area\", \"meal_id\", \"price\", \"promotions\"], \"values\": [[week,center,city,region,op,meal,price,promo]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "4b4400c0.69125"
            ]
        ]
    },
    {
        "id": "eba131e2.a8851",
        "type": "debug",
        "z": "afc1039.b6103",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "a5a83916.3d3b88",
        "type": "debug",
        "z": "afc1039.b6103",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "3aa3c9c.427c436",
        "type": "ui_ui_control",
        "z": "afc1039.b6103",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "958fd067.857e"
            ]
        ]
    },
    {
        "id": "958fd067.857e",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Default zero",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "dcdc7a96.16de38"
            ]
        ]
    },
    {
        "id": "dcdc7a96.16de38",
        "type": "ui_slider",
        "z": "afc1039.b6103",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "de6343d7.5b62b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": 10,
        "step": 1,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "8e23418f.537c8"
            ]
        ]
    },
    {
        "id": "8e23418f.537c8",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Notify",
        "func": "if(msg.payload!==0){\n    global.set(\"weekno\",Math.round(((Math.random()*14)*msg.payload))+1)\n    msg.payload=\"The week number you entered is \"+msg.payload;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "d591f90f.084498",
                "4fdb4af0.547474",
                "47f1c33b.59920c"
            ]
        ]
    },
    {
        "id": "d591f90f.084498",
        "type": "ui_toast",
        "z": "afc1039.b6103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 170,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa9d95e2.b36378",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "de6343d7.5b62b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://www.directorstalkinterviews.com/wp-content/uploads/2020/02/supermarket-food.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 720,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "634c1a39.1d46d4",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Output",
        "func": "msg.payload=Math.round(msg.payload.predictions[0].values[0][0])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "a5a83916.3d3b88",
                "ebf662b2.7e25c",
                "16c4b8a8.5785f7",
                "ed4b9238.0fa0a"
            ]
        ]
    },
    {
        "id": "5b456b25.cdbaa4",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Control",
        "func": "if(msg.payload==\"Thanks! That was a valid data\"){\n    msg.payload=3\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 80,
        "y": 380,
        "wires": [
            [
                "1a13c50f.ddc3bb"
            ]
        ]
    },
    {
        "id": "4fdb4af0.547474",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Pre Token 1",
        "func": "var apikey=\"ZCdj6JsRr0DOyGY3HIArD4RMn5v1Yq-vk5xktbCwZp1I\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "de134106.db1c3"
            ]
        ]
    },
    {
        "id": "4b4400c0.69125",
        "type": "http request",
        "z": "afc1039.b6103",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v4/deployments/f4f207c0-24cb-48aa-a492-f23ef13aa94e/predictions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 440,
        "wires": [
            [
                "634c1a39.1d46d4"
            ]
        ]
    },
    {
        "id": "c1ad478a.a271b8",
        "type": "ui_form",
        "z": "afc1039.b6103",
        "name": "",
        "label": "",
        "group": "f5177aa0.5a6238",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Region Code",
                "value": "region",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "City ID",
                "value": "city",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Op Area (0.5 - 7.5)",
                "value": "op",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "region": "",
            "city": "",
            "op": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Reset",
        "topic": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "bafbd260.6aa45",
                "f29bf5cd.ba4c78"
            ]
        ]
    },
    {
        "id": "bafbd260.6aa45",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Global",
        "func": "global.set(\"region\",Math.round(msg.payload.region))\nglobal.set(\"city\",Math.round(msg.payload.city))\nglobal.set(\"op\",msg.payload.op)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "54e19660.199ac8",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Global initialisation",
        "func": "global.set(\"center\",msg.payload.center)\nglobal.set(\"meal\",msg.payload.meal)\nglobal.set(\"price\",msg.payload.price)\nif(msg.payload.promo===true)\n    global.set(\"promo\",1)\nelse\n    global.set(\"promo\",0)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "e5f1e617.f1b878"
            ]
        ]
    },
    {
        "id": "e5f1e617.f1b878",
        "type": "debug",
        "z": "afc1039.b6103",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "16838150.10cfdf",
        "type": "ui_ui_control",
        "z": "afc1039.b6103",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "5e638bc8.cb0e44"
            ]
        ]
    },
    {
        "id": "5d672b5c.cd0444",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "f5177aa0.5a6238",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://martechtoday.com/wp-content/uploads/2018/08/location-data-cityscape-ss-1920_rmjpym.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c00f4b18.177a78",
        "type": "delay",
        "z": "afc1039.b6103",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "16838150.10cfdf"
            ]
        ]
    },
    {
        "id": "1a13c50f.ddc3bb",
        "type": "delay",
        "z": "afc1039.b6103",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "3aa3c9c.427c436"
            ]
        ]
    },
    {
        "id": "a8d0f0e5.ef56f",
        "type": "delay",
        "z": "afc1039.b6103",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "c1ad478a.a271b8"
            ]
        ]
    },
    {
        "id": "ebf662b2.7e25c",
        "type": "ui_text",
        "z": "afc1039.b6103",
        "group": "7f905391.22d86c",
        "order": 0,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Wow Great..! Your Demand Required for the Entered week is:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "ae85dddb.98566",
        "type": "ui_ui_control",
        "z": "afc1039.b6103",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "16c4b8a8.5785f7",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Control",
        "func": "msg.payload=4\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "ae85dddb.98566"
            ]
        ]
    },
    {
        "id": "2893376.8d8b1c8",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "7f905391.22d86c",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://mecaluxcom.cdnwm.com/case-studies/frozen-storage-warehouse-comag-movirack-mobile-pallet-racking.1.2.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 380,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f29bf5cd.ba4c78",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Checking",
        "func": "region = [23,34,35,56,71,77,85,93]\ncity = [456,461,473,478,485,515,517,522,526,541,553,556,561,562,576,577,579,590,593,596,599,602,604,609,614,615,620,628,632,638,647,648,649,651,654,658,659,675,676,679,680,683,685,693,695,698,699,700,702,703,713]\n\nif(region.includes(msg.payload.region) && city.includes(msg.payload.city) && (msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload=\"Yeah! Thats seems to be a valid location\"\nelse if(!region.includes(msg.payload.region) && city.includes(msg.payload.city) && (msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload = \"Nope..! Check your region code!!\"\nelse if(!city.includes(msg.payload.city) && region.includes(msg.payload.region) && (msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload = \"Nope..! Check your city code!!\"\nelse if(region.includes(msg.payload.region) && city.includes(msg.payload.city) && !(msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload = \"All is well..! Check your Op Area alone!!\"\nelse\n    msg.payload = \" Oops! Looks like you don't remember the details! Have a look and try again\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "58509d51.2bf714",
                "aee50208.ad9ac",
                "290c2db6.5345a2"
            ]
        ]
    },
    {
        "id": "58509d51.2bf714",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "Control",
        "func": "if(msg.payload==\"Yeah! Thats seems to be a valid location\"){\n    msg.payload=2;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "c00f4b18.177a78"
            ]
        ]
    },
    {
        "id": "aee50208.ad9ac",
        "type": "ui_toast",
        "z": "afc1039.b6103",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "ed4b9238.0fa0a",
        "type": "function",
        "z": "afc1039.b6103",
        "name": "O/p Audio",
        "func": "msg.payload = \"Woww.. Great..! Your Demand Required for the Entered week is, \"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 620,
        "wires": [
            [
                "1f3e88.62ff6179"
            ]
        ]
    },
    {
        "id": "1f3e88.62ff6179",
        "type": "ui_audio",
        "z": "afc1039.b6103",
        "name": "",
        "group": "7f905391.22d86c",
        "voice": "en-GB",
        "always": true,
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "f3ad423d.ff83",
        "type": "ui_audio",
        "z": "afc1039.b6103",
        "name": "",
        "group": "413e228a.1e18dc",
        "voice": "en-US",
        "always": true,
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "290c2db6.5345a2",
        "type": "ui_audio",
        "z": "afc1039.b6103",
        "name": "",
        "group": "f5177aa0.5a6238",
        "voice": "en-GB",
        "always": true,
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "47f1c33b.59920c",
        "type": "ui_audio",
        "z": "afc1039.b6103",
        "name": "",
        "group": "de6343d7.5b62b",
        "voice": "en-US",
        "always": true,
        "x": 220,
        "y": 540,
        "wires": []
    },
    {
        "id": "35efb0b6.eee2f",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "c9ff7f7a.1f9cc",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<input type=\"button\" class=\"button\" value=\"Click Here\" onclick=\"window.open('https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=a8ad8014-832d-48b7-a2cf-9f9129962f07&serviceInstanceID=8168dfce-4302-4e0f-8223-0cf54788c914')\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 120,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ba6c3791.2a8df8",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "c9ff7f7a.1f9cc",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n.button {\n  background-color: #00adc4;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 120,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8153601e.1fee4",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "e43d3fdb.8bd5f",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<input type=\"button\" class=\"button\" value=\"Click Here\" onclick=\"window.open('https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=a8ad8014-832d-48b7-a2cf-9f9129962f07&serviceInstanceID=8168dfce-4302-4e0f-8223-0cf54788c914')\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 360,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9022b756.abd808",
        "type": "ui_template",
        "z": "afc1039.b6103",
        "group": "e43d3fdb.8bd5f",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n  background-color:#00adc4;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 360,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e7c39b78.3060b8",
        "type": "ui_group",
        "z": "",
        "name": "Welcome to our Smart Warehouse Web Application",
        "tab": "f1abe1a1.2f7ef",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "413e228a.1e18dc",
        "type": "ui_group",
        "z": "",
        "name": "Kindly Enter Details to Predict",
        "tab": "f61751f6.4137f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de6343d7.5b62b",
        "type": "ui_group",
        "z": "",
        "name": "Week Number",
        "tab": "bdab7a27.e57e48",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f5177aa0.5a6238",
        "type": "ui_group",
        "z": "",
        "name": "Enter the Location details",
        "tab": "6ccf4908.434388",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7f905391.22d86c",
        "type": "ui_group",
        "z": "",
        "name": "Demand Required",
        "tab": "bf7978e4.7ce238",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "c9ff7f7a.1f9cc",
        "type": "ui_group",
        "z": "",
        "name": "To interact with our chatbot",
        "tab": "f61751f6.4137f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e43d3fdb.8bd5f",
        "type": "ui_group",
        "z": "",
        "name": "To Interact with our Chat Bot",
        "tab": "6ccf4908.434388",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f1abe1a1.2f7ef",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "fa-home fa-2x",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f61751f6.4137f",
        "type": "ui_tab",
        "z": "",
        "name": "Store Details",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bdab7a27.e57e48",
        "type": "ui_tab",
        "z": "",
        "name": "Week Info",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ccf4908.434388",
        "type": "ui_tab",
        "z": "",
        "name": "Location",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf7978e4.7ce238",
        "type": "ui_tab",
        "z": "",
        "name": "Prediction",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]